<?xml version="1.0" encoding="UTF-8"?> 
 <!DOCTYPE configuration 
   PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="hashMap" type="java.util.HashMap"/>
		<typeAlias alias="linkedMap" type="java.util.LinkedHashMap"/>
		
		<typeAlias alias="course" type="com.ebs.ngs.hsc.hsp.web.api.datasync.model.Course"/>
		
		<typeAlias alias="apiLogHist" type="com.ebs.biz.api.common.log.model.BizApiLogHist"/>
	</typeAliases>
</configuration> 